handmaxx/target/build-metrics.json
handmaxx/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
handmaxx/target/maven-status/maven-compiler-plugin/testCompile/null/inputFiles.lst
